@charset "UTF-8";

*{
    padding: 0;
    margin: 0;

}

body {
    width: 100%;
    height: 100%;
    margin: 0; /* Removendo margem padrão do body */
}

#logo {
    width: 100px;
    height: 100px;
}

.cabecalho {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.nav ul {
    text-align: center;
    background-color: red;
    margin: 0; /* Removendo margem padrão do ul */
    padding: 0; /* Removendo preenchimento padrão do ul */
    height: 60px; /* Defina a altura desejada */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens da lista */
    align-items: center; /* Centraliza verticalmente os itens da lista */
}

.nav ul li {
    display: inline-block;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


.nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white;
    margin-left: 10px;
    margin-right: 10px ;
    position: relative;
    
}

.nav ul li a::after{
    
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0),rgb(0, 0, 0));
    position: absolute;
    top: 20px;
    left: 0;
    transition: 0.5s;
    border-radius: 10px;

}

.nav ul li a:hover::after{

    width: 30px;

}





