@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Share+Tech+Mono&display=swap');

*{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    
    width: 100%;
    height: 100%;
    margin: 0; /* Removendo margem padrão do body */
    background-image: linear-gradient(90deg, rgb(46, 46, 46), rgb(63, 25, 25));
}

#logo {
    width: 160px;
    height: 50px;
    position: absolute;
}

#header{
    width: 100%;
    height: 70px;
}

.cabecalho {
    
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.nav ul {
    text-align: center;
    background-color: white;
    margin: 0; /* Removendo margem padrão do ul */
    height: 30px; /* Defina a altura desejada */
    display: flex;
    justify-content: left; /* Centraliza horizontalmente os itens da lista */
    align-items: center; /* Centraliza verticalmente os itens da lista */
    box-shadow: 0px 15px 15px rgb(31, 31, 31);
}

.nav ul li {
    display: inline-block;
    height: 60px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}


.nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: black;
    margin-left: 10px;
    margin-right: 10px ;
    position: relative;
    font-size: 14px;
    font-style: italic;
    
}

.nav ul li a::after{
    
    content: " ";
    width: 0px;
    height:4px;
    background-image: linear-gradient(45deg, rgb(255, 255, 255),rgb(248, 91, 91),red);
    position: absolute;
    top: 15px;
    left: 0;
    transition: 0.5s;
    border-radius: 10px;

}

.nav ul li a:hover::after{

    width: 30px;

}

.redes-sociais{
    position: absolute;
    top: 9.8%;
    right: 2%;
}

.redes-sociais a {
    margin-right: 5px; /* Espaçamento entre os ícones */
    display: inline-block; /* Garante que os ícones fiquem na mesma linha */
}

.redes-sociais a img{

    position: relative;
    float: right;
    display: inline;
    margin: 5px;
    padding: 0;
    
}

.w {
    
    width: 25px;
    height: 25px;
 
}

.i{
    
    width: 25px;
    height: 25px;
    
}

.y{
    
    width: 25px;
    height: 25px;
    
}

.f{
    
    width: 25px;
    height: 25px;
    
}

section.slider{
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    margin-top: 30px;
}

.slide-content{
    width: 400%; /* define o tamanho para caber as imagens, aumentar caso tenha mais imagens*/
    height: auto;
    display: flex;
    
}

.slide-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 60%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 21%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid red;
    padding: 10px;
    border-radius: 50%;
    cursor:pointer;
    transition: 0.2s;
    
}

.nav-manual .manual-btn:not(:last-child),.nav-auto div:not(:last-child){

    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: red;
}

#radio1:checked ~ .nav-auto .auto-btn1{

    background-color: red;
}

#radio2:checked ~ .nav-auto .auto-btn2{

    background-color: red;
}

#radio3:checked ~ .nav-auto .auto-btn3{

    background-color: red;
}

#radio1:checked ~ .primeiro{

    margin-left: 0%;

}

#radio2:checked ~ .primeiro{

    margin-left: -25%;
    
}

#radio3:checked ~ .primeiro{

    margin-left: -50%;
    
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
} /*importar coisas código para responsabilidade android*/

