@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Share+Tech+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0; /* Removendo margem padrão do body */
}

#logo {
    width: 160px;
    height: 50px;
    position: absolute;
}

#header{
    width: 100%;
    height: 80px;
}

.cabecalho {
    
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.nav ul {
    text-align: center;
    background-color: white;
    margin: 0; /* Removendo margem padrão do ul */
    height: 40px; /* Defina a altura desejada */
    display: flex;
    justify-content: left; /* Centraliza horizontalmente os itens da lista */
    align-items: center; /* Centraliza verticalmente os itens da lista */
    box-shadow: 0px 15px 15px grey;
}

.nav ul li {
    display: inline-block;
    height: 60px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}


.nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: black;
    margin-left: 10px;
    margin-right: 10px ;
    position: relative;
    font-size: 14px;
    font-style: italic;
    
}

.nav ul li a::after{
    
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, rgb(255, 255, 255),rgb(248, 91, 91),red);
    position: absolute;
    top: 20px;
    left: 0;
    transition: 0.5s;
    border-radius: 10px;

}

.nav ul li a:hover::after{

    width: 30px;

}

.w {
    
    position: relative;
    width: 35px;
    height: 35px;
    margin-left: 625px;
    margin-right: 5px;
}

.i{
    
    position: relative;
    width: 35px;
    height: 35px;
    margin: 5px;
}

.y{
    
    position: relative;
    width: 35px;
    height: 35px;
    margin: 5px;
}

.f{
    
    position: relative;
    width: 35px;
    height: 35px;
    margin: 5px;
}


