@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Share+Tech+Mono&display=swap');

body {
	/* margin - imagine um relogio para as direcoes (top / right / bottom / left)*/
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100%;

}

#logo {
	width: 155px;
	height: 40px;
}

header {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	gap: 10px; 

	background-image: url(../assets/header.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	padding: 10px;
	box-sizing: border-box;
	border-bottom: solid #F00 1px;
	width: 100%;
	z-index: 1;
}

nav {
	display:flex;
	justify-content: center;
}

nav ul {
	text-align: center;
	background-color: rgb(255, 255, 255 .7);
	margin: 0; /* Removendo margem padrão do ul */
	height: 30px; /* Defina a altura desejada */
	display: flex;
	justify-content: center; /* Centraliza horizontalmente os itens da lista */
	align-items: center; /* Centraliza verticalmente os itens da lista */
}

nav ul li {
	display: inline-block;
	height: 60px;
	margin-left: 5px;
	display: flex;
	align-items: center;
	
}


nav ul li a {
	text-align: center;
	text-decoration: none; /* Remove o sublinhado dos links */
	color: rgb(255, 255, 255);
	margin-left: 20px;
	margin-right: 20px;
	display: inline;
	position: relative;
	font-size: 14px;
	font-style: italic;
	
}

nav ul li a::after{
	content: " ";
	width: 0px;
	height:4px;
	background-color:red;
	position: absolute;
	top: 20px;
	left: 0;
	transition: 0.5s;
	border-radius: 10px;

}

nav ul li a:hover::after{

	width: 30px;

}

.img-desktop{
	border-radius: 20px;
	box-shadow: 3px 3px 20px;
}
section.slider{
	margin: 0;
	width: 100%;
	height: auto;
	padding: 0 !important;
	overflow: hidden;
	margin-top: 30px;
	
}

.slide-content{
	width: 400%; /* define o tamanho para caber as imagens, aumentar caso tenha mais imagens*/
	height: auto;
	display: flex;
	
	
}

.slide-content input, .img-mobile{
	display: none;
}

.slide-box{

	width: 25%;
	height: 45vh;
	position: relative;
	text-align: center;
	transition: 1s;
}

.slide-box img{
	width: 60%;
}

.nav-manual, .nav-auto{
	position: absolute;
	width: 100%;
	margin-top: 21%;
	display: flex;
	justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
	border: 1px solid red;
	padding: 10px;
	border-radius: 50%;
	cursor:pointer;
	transition: 0.2s;
	
}

.nav-manual .manual-btn:not(:last-child),.nav-auto div:not(:last-child){

	margin-right: 10px;
}

.nav-manual .manual-btn:hover{
	background-color: red;
}

#radio1:checked ~ .nav-auto .auto-btn1{

	background-color: red;
}

#radio2:checked ~ .nav-auto .auto-btn2{

	background-color: red;
}

#radio3:checked ~ .nav-auto .auto-btn3{

	background-color: red;
}

#radio1:checked ~ .primeiro{

	margin-left: 0%;

}

#radio2:checked ~ .primeiro{

	margin-left: -25%;
	
}

#radio3:checked ~ .primeiro{

	margin-left: -50%;
	
}

.home1 img{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	z-index: -1;
}
.home2{
	background-color: white;
	width: 100%;
	height: 70vh;
	margin-top: 100px;
}

.quadrado{

	
	width: 250px;
	height: 350px;
	margin: 35px 35px 35px 35px;
	border-radius: 45px;
	border: solid rgb(255, 0, 0) 2px;
	box-shadow: 3px 3px 20px;
	
	
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;

	}

	.tiravermelha{
		color: white;
		background-color: red;

		width: 100%;
		height: 5vh;
		
		position: relative;
		top: 18vh;

		font-size: 10px;
		justify-content: center;
		text-align: center;
		display: flex;
		flex-direction: column;
	
	
		
	}

	#falante:hover{
		transform: scale(1.1);
	}

	#redes:hover{
		transform: scale(1.1);
	}

	#servicos:hover{
		transform: scale(1.1);
	}

	#projetos:hover{
		transform: scale(1.1);
	}


#falante{
	background-image: url(/src/assets/falante.png);
	transition: transform 0.3s;
	
}

#redes{
	background-image: url(/src/assets/redes.png);
	transition: transform 0.3s;

}

#servicos{
	background-image: url(/src/assets/serviços.png);
	transition: transform 0.3s;

}

#projetos{
	background-image: url(/src/assets/projetos.png);
	transition: transform 0.3s;

}

.home3{
	background-image: url(/src/assets/PARCERIAS.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;

	width: 100%;
	height: 80vh;

	position: relative;
	
}

/* a partida daqui o codigo eh do rodape*/
#rodape{

    position: relative;
    bottom: 0;
    background-color: black;
    height: 21vh;
    width: 100%;
    color: white; /* Adicionei uma cor de texto para maior visibilidade */

}
.rodape{
	box-sizing: border-box;
	font-size: 10px;
	justify-content: space-between; /* Isso alinha os elementos filhos à esquerda e à direita */
	color: white;
	display: flex;
    align-items: center;
}

.contato{
	
	width: 300px;
	height: 100px;
}

.contato::before{
	margin-right: 10px;
	content: "";
    position: absolute;
    width: 2px; /* Largura da borda esquerda */
    height: 80%;
    background: linear-gradient(to bottom, #000000, #302f2f, rgb(0, 0, 0)); 
}
p{
	margin: 2px;
	padding-left: 50px;
}

.rodape h1{
	margin: 2px;
	padding-left: 50px;
}
.logorodape{
	margin-left: 70px;
	position: relative;
	width: 120px;
	height: 30px;
	background-image: url(/src/assets/Logo.png);
}

#mapa{
	margin: 20px;
	position: relative;
    display: flex; 
	box-sizing: content-box;
	border: 2px solid red;
}
.mapa iframe{
	
	width: 50vh;
	height: 15vh;
}
.linha{
	width: 10px;
	height: 100%;
	background-color:black;
}
.linha::before{
	margin-top: 16px;
	content: "";
    position: absolute;
    width: 2px; /* Largura da borda esquerda */
    height: 80%;
    background: linear-gradient(to bottom, #000000, #302f2f, rgb(0, 0, 0)); 
}


.pagamento{
	position: relative;
	height: 135px;
	width: 250px;
	

}
.pagamento img{
	height: 135px;
	width: 220px;
	padding-left: 30px;
}

.pagamento::before{
	margin-top: 18px;
	content: "";
    position: absolute;
    width: 2px; /* Largura da borda esquerda */
    height: 80%;
    background: linear-gradient(to bottom, #000000, #302f2f, rgb(0, 0, 0)); 
}

@media screen and (max-width: 900px) {
	.img-desktop{
			display: none;
	}

	.img-mobile{
			display:inline;
	}

	.nav-auto, .nav-manual{
			margin-top: 60%;
	}
} 
/*importar coisas código para responsibilidade android*/