@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Share+Tech+Mono&display=swap');


body {
	/* margin - imagine um relogio para as direcoes (top / right / bottom / left)*/
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100%;

}

header {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	gap: 10px; 
	text-align: center;

	background-image: linear-gradient(to bottom, rgb(253, 74, 0), rgb(229, 48, 0));

	padding: 10px;
	box-sizing: border-box;
	border-bottom: solid #F00 1px;
	width: 100%;
	z-index: 1;
}

nav {
	display:flex;
	justify-content: center;
}

nav ul {
	text-align: center;
	background-color: rgb(255, 255, 255 .7);
	margin: 0; /* Removendo margem padrão do ul */
	height: 30px; /* Defina a altura desejada */
	display: flex;
	justify-content: center; /* Centraliza horizontalmente os itens da lista */
	align-items: center; /* Centraliza verticalmente os itens da lista */
}

nav ul li {
	display: inline-block;
	height: 60px;
	margin-left: 5px;
	display: flex;
	align-items: center;
	
}


nav ul li a {
	text-align: center;
	text-decoration: none; /* Remove o sublinhado dos links */
	color: rgb(255, 255, 255);
	margin-left: 20px;
	margin-right: 20px;
	display: inline;
	position: relative;
	font-size: 14px;
	font-style: italic;
	
}

.txt a::after{
	content: " ";
	width: 0px;
	height:4px;
	background-color:rgb(0, 0, 0);
	position: absolute;
	top: 20px;
	left: 0;
	transition: 0.5s;
	border-radius: 10px;

}

.txt a:hover::after{

	width: 30px;

}

.icones{
	position: relative;
	display: flex;
	transform: translateX(20%);
	justify-content: right;
	text-align: right;
	align-items: right;
}
.icon i{
	margin-left: -50px;
	margin-right: -50px;
	font-size: 20px;
}

.icon a:hover{
	transform: scale(1.2);
	opacity: 0.6 ;
	transition: 0.5s;
}

/* essa div esta apenas mostrando o fundo branco e dividindo navbar do rodape*/

.gallery{
	position: relative;
	padding-top: 15vh;
	width: 100%;
	height: 130vh;
	
	text-align: center;


}
#fotoF1{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 5px;
	width: 100%;
	height: 250px;
	transition: 0.5s;	

}
#fotoF2{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 5px;
	width: 100%;
	height: 250px;
	transition: 0.5s;
	
}
.fila1
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 20vh;
	margin: 5px;
	border-radius: 5px;
	width: 45vh;
	height: 250px;
	border: solid rgb(255, 0, 0) 2px;
	box-shadow: 3px 3px 20px;
	transition: 0.5s;	
}
.fila1:hover{
	transform: scale(1.1);
	opacity: 0.8;
}
.fila2
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	width: 61.9vh;
	height: 250px;
	border: solid rgb(255, 0, 0) 2px;
	box-shadow: 3px 3px 20px;
	transition: 0.5s;
}
.fila2:hover{
	transform: scale(1.1);
	opacity: 0.8;
}


#logop{
	position: absolute;
	width: 60%;
	height: 30%;
}

#TR4{
	background-image: url(../Projetos/capa\ 1.png);	
	background-size: 100%;
	background-repeat: no-repeat;
}

#TR4:hover{
	background-color: white;
	background-image: url(../Projetos/tr4.gif);	
	background-size: 100%;
	background-repeat: no-repeat;
}

#X4{
	background-color: white;
	background-image: url(../Projetos/capa\ 2.png);	
	background-size: 100%;
	background-repeat: no-repeat;
}

#X4:hover{
	background-image: url(../Projetos/x4.gif);	
	background-size: 100%;
	background-repeat: no-repeat;
}

.fila3{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 5px;
	border-radius: 5px;
	width: 45vh;
	height: 250px;
	border: solid rgb(255, 0, 0) 2px;
	box-shadow: 3px 3px 20px;
	transition: 0.5s;
}
.fila3:hover{
	transform: scale(1.1);
	opacity: 0.8;
}
#logocentro{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 61.9vh;
	height: 250px;
}

 /*rodapé-----------------------------------*/

 #rodape{

    position: relative;
    bottom: 0;
    background-color: black;
    height: 21vh;
    width: 100%;
    color: white; /* Adicionei uma cor de texto para maior visibilidade */

}
.rodape{
	box-sizing: border-box;
	font-size: 11px;
	justify-content: space-between; /* Isso alinha os elementos filhos à esquerda e à direita */
	color: white;
	display: flex;
    align-items: center;
}


.contato{

	width: 28%;
	height: 100%;

	justify-content: left;
	align-items: left;
	text-align: left;
}
.logorodape{
	width: 15%;
	height: 21vh;

	position: relative;
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	text-align: center;
}
.logorodape img{
	width:	16vh;
	height: 4vh;

}

#mapa{
	margin: 20px;
	position: relative;
    display: flex; 
	box-sizing: content-box;
	border: 2px solid red;
}
.mapa iframe{
	
	width: 50vh;
	height: 15vh;
}
.linha{
	width: 10px;
	height: 100%;
	background-color:black;
}
.linha::before{
	margin-top: 16px;
	content: "";
    position: absolute;
    width: 2px; /* Largura da borda esquerda */
    height: 80%;
    background: linear-gradient(to bottom, #000000, #302f2f, rgb(0, 0, 0)); 
}


.pagamento{
	position: relative;
	height: 135px;
	width: 250px;
	

}
.pagamento img{
	height: 135px;
	width: 220px;
	
}

@media screen and (max-width: 900px) {
	.img-desktop{
			display: none;
	}

	.img-mobile{
			display:inline;
	}

	.nav-auto, .nav-manual{
			margin-top: 60%;
	}
}
/*importar coisas código para responsibilidade android*/