@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Share+Tech+Mono&display=swap');

body {
	/* margin - imagine um relogio para as direcoes (top / right / bottom / left)*/
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100%;

}

header {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	gap: 10px; 
	text-align: center;

	background-image: linear-gradient(to bottom, rgb(253, 74, 0), rgb(229, 48, 0));

	padding: 10px;
	box-sizing: border-box;
	border-bottom: solid #F00 1px;
	width: 100%;
	z-index: 1;
}

nav {
	display:flex;
	justify-content: center;
}

nav ul {
	text-align: center;
	background-color: rgb(255, 255, 255 .7);
	margin: 0; /* Removendo margem padrão do ul */
	height: 30px; /* Defina a altura desejada */
	display: flex;
	justify-content: center; /* Centraliza horizontalmente os itens da lista */
	align-items: center; /* Centraliza verticalmente os itens da lista */
}

nav ul li {
	display: inline-block;
	height: 60px;
	margin-left: 5px;
	display: flex;
	align-items: center;
	
}


nav ul li a {
	text-align: center;
	text-decoration: none; /* Remove o sublinhado dos links */
	color: rgb(255, 255, 255);
	margin-left: 20px;
	margin-right: 20px;
	display: inline;
	position: relative;
	font-size: 14px;
	font-style: italic;
	
}

.txt a::after{
	content: " ";
	width: 0px;
	height:4px;
	background-color:rgb(0, 0, 0);
	position: absolute;
	top: 20px;
	left: 0;
	transition: 0.5s;
	border-radius: 10px;

}

.txt a:hover::after{

	width: 30px;

}

.icones{
	position: relative;
	display: flex;
	transform: translateX(20%);
	justify-content: right;
	text-align: right;
	align-items: right;
}
.icon i{
	margin-left: -50px;
	margin-right: -50px;
	font-size: 20px;
}

.icon a:hover{
	transform: scale(1.2);
	opacity: 0.6 ;
	transition: 0.5s;
}
/* aqui comeca a pagina sobre*/

.fundobranco{
	width: 100%;
	height: 10vh;
	background-color: rgb(255, 255, 255);
}
.tamanho{

	overflow-x: hidden;
	position: relative;
	display: inline-flex;

	height: auto;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

.div2{

	overflow-x: hidden;
	position: relative;
	display: inline-flex;

	height: 90vh;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

.loja img{
	border-right:solid rgb(255, 255, 255) 1px;
	position: relative;
	display: flex;
	height: 600px;
	width: 600px;
	transition: 0.5s;
	margin-left: 20px;
}

.loja img:hover{
	transform: scale(1.04);
}
.decio img{
	border-right:solid rgb(255, 255, 255) 1px;
	position: relative;
	display: flex;
	height: 600px;
	width: 600px;
	transition: 0.5s;
	margin-left: 20px;
}

.decio img:hover{
	transform: scale(1.04);
}

.texto{
	width: 100%;
	height: auto;

	padding-left: 10vh;
	padding-right: 10vh;

	justify-content: center;
	align-items: center;
	text-align: center;
}

.texto2{

	height: auto;
	width: 100%;
	display: inline-flex;
	position: relative;
	justify-content: center;
	text-align: center;
	color: #000000;

	padding-left: 10vh;
	padding-right: 10vh;
	

}
.titulo{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;

	text-align: center;
	align-items: center;
	justify-content: center;
}
.orange{
	border-bottom: orangered solid 2px;
	border-radius: 2px;
}
h2{
	border-bottom: orangered solid 2px;
	border-radius: 2px;
	margin-left: 10px;
	margin-right: 100vh;
}


/* aqui comeca o rodape-----------------------------------*/
#rodape{

    position: relative;
    bottom: 0;
    background-color: black;
    height: 21vh;
    width: 100%;
    color: white; /* Adicionei uma cor de texto para maior visibilidade */

}
.rodape{
	box-sizing: border-box;
	font-size: 11px;
	justify-content: space-between; /* Isso alinha os elementos filhos à esquerda e à direita */
	color: white;
	display: flex;
    align-items: center;
}


.contato{

	width: 28%;
	height: 100%;

	justify-content: left;
	align-items: left;
	text-align: left;
}
.logorodape{
	width: 15%;
	height: 21vh;

	position: relative;
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	text-align: center;
}
.logorodape img{
	width:	16vh;
	height: 4vh;

}

#mapa{
	margin: 20px;
	position: relative;
    display: flex; 
	box-sizing: content-box;
	border: 2px solid red;
}
.mapa iframe{
	
	width: 50vh;
	height: 15vh;
}
.linha{
	width: 10px;
	height: 100%;
	background-color:black;
}
.linha::before{
	margin-top: 16px;
	content: "";
    position: absolute;
    width: 2px; /* Largura da borda esquerda */
    height: 80%;
    background: linear-gradient(to bottom, #000000, #302f2f, rgb(0, 0, 0)); 
}


.pagamento{
	position: relative;
	height: 135px;
	width: 250px;
	

}
.pagamento img{
	height: 135px;
	width: 220px;
	
}

@media screen and (max-width: 900px) {
	.img-desktop{
			display: none;
	}

	.img-mobile{
			display:inline;
	}

	.nav-auto, .nav-manual{
			margin-top: 60%;
	}
} 
/*importar coisas código para responsibilidade android*/